body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    padding: 20px;
}

footer {
    background-color:#e60064;
    color: #fff;
    padding: 20px;
    text-align: center;
    text-size-adjust: 20%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
