
<div class="vvv g-0 bg-body-secondary position-relative">
    <div class="iii md-6 p-4 ps-md-0">
        <img src="https://www.thecakeshop.co.in/assets/web/images/abou_cake.png" alt="i2" width="525px" height="525px" style="padding-left: 20px;">
    </div>
    
    <div class="text">
        <div class="about">
        <h2>ABOUT US</h2>
        <h1> We Gurantee our Busoness <br> Sucess - Love to Help you</h1>
        <hr>
        <p>
            We at The Cake Shop specialize in Desserts & Cakes. we believe in "Quality in our Edge", from selecting the ingredients around India to the final exqusite creation that "Bring you smiles for Sure"

Our cakes & Desserts receive a lot of compliments and are complimented by wide range of exclusive desserts.

Our theme based Creative Cakes, Cake pop , Cup Cakes and Desserts for Parities, make you Party Unique and Inevitable. We spend more time in understanding customers expectation,

So we Perfectly Personalize to the Needs
Cakes are baked from a batter. Batter is made by mixing wet ingredients (like milk and eggs) with dry ingredients (like sugar and flour). The batter is baked in an oven. This way of baking is known as the muffin method, because muffins are made this way.

Vegan versions of the same cake abstain from using animal products such as dairy or eggs and instead substitute them with plant derived products such as nut milk and alginate-lecithin gel.[1]

Just like bread, cakes rise in the oven because they contain many small air bubbles. As cakes rise, the air bubbles expand. This is why the cake batter expands in the pan (often to twice its original size). There are two ways of forming the air bubbles, which create different types of cakes. Almost every kind of cake belongs to one of these families.</p>
            <div class="new">
                <h3>Have a Nice Day with cake.</h3>
            </div>
            </div>
            </div>
        
    </div>
   
    
