<nav>
  <input type="checkbox" id="checkbox">
  <label for="check" class="checkbtn"></label>
  <i class="fas fa-bars"></i>
  <label class="logo">Cake Bee</label>
  <ul>
    <li><a routerLink="/" routerLinkActive="active-link">Home</a></li>
    <li><a routerLink="/menu" routerLinkActive="active-link">Menu</a></li>
    <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
  </ul>
</nav>
